.input {
    border: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 13px 18px;
    font-size: 21px;
    outline: none;
    border: 2px solid #18191F;
    border-radius: 16px;
}

.input:disabled {
    background-color: #ccc;
}

.input.input_wide {
    width: 100%;
}

textarea.input {
    resize: none;
}
