.twine {
    padding-top: 220px;
    padding-bottom: 126px;

    background-image: url(paint.jpg);
    background-repeat: no-repeat;
    background-size: 766px;
    background-position: -90px 10px;
}

.twine__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.twine__desc {
    margin-top: 18px;
}

.twine__actions {
    margin-top: 44px;
    display: flex;
    flex-direction: row;
}

.twine__input + .twine__input {
    margin-left: 40px;
    max-width: 300px;
}

.twine__paint-img {
    position: absolute;
    top: -210px;
    left: -263px;
    height: 575px;
    z-index: -1;
}

@media (max-width: 700px) {
    .twine {
        padding-top: 150px;
    }

    .twine__actions {
        flex-direction: column;
        width: 100%;
        max-width: 300px;
    }

    .twine__input + .twine__input {
        margin-left: 0;
        margin-top: 16px;
        width: 100%;
    }
}