.ways {
    margin-top: 64px;
}

.ways__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ways__desc {
    width: 100%;
    max-width: 500px;
    margin-top: 18px;
}

.ways__table-desc {
    margin-top: 18px;
}

.ways__table {
    display: flex;
    flex-direction: row;
    margin-top: 36px;
}

.ways__cell {
    flex: 1;
    text-align: center;
}

.ways__cell + .ways__cell {
    border-left: 1px solid #8F8E8A;
}

.ways__table-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ways__cell-content {
    padding: 0 10px;
    max-width: 350px;
    margin: auto;
}

.ways__cell-img-wrap {
    padding-bottom: 62%;
    position: relative;
    max-width: 100%;
    height: 0;
    margin-bottom: 18px;
}

@media (max-width: 700px) {
    .ways__table {
        flex-direction: column;
    }

    .ways__cell + .ways__cell {
        border-left: none;
    }
}
